import { FC } from 'react';

interface ElemProps {}

const Elem: FC<ElemProps> = () => {
  //* ========================================================= JSX =========================================================
  return (
    <>
      {/* 
         //$ ========================================================= MAIN CONTENT HERE ========================================================= 
         */}
    </>
  );
};

export default Elem;
